<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gavinliu.bus.station">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="cn.gavinliu.bus.station.StationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.gavinliu.bus.station.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="cn.gavinliu.bus.station.ui.choiceline.ChoiceLineActivity" />

        <activity android:name="cn.gavinliu.bus.station.ui.linedetail.LineDetailActivity" />

        <activity android:name="cn.gavinliu.bus.station.ui.plandetail.PlanDetailActivity" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/setting" />

        <service
            android:name="cn.gavinliu.bus.station.service.AlarmService"
            android:label="@string/app_name" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MEIZU" />

    </application>

</manifest>